<form style="padding: 0" class="w-screen-40 h-screen-40 flex flex-col gap-4" (ngSubmit)="onSave()" [formGroup]="departmentForm">
    <!-- Header -->
    <div></div>
    <!-- Content -->
    <div class="flex flex-1 flex-col gap-4 border-t-2 py-4">
        <cm-input
            formControlName="departmentName"
            [label]="'system.departmentName' | transloco"
            [required]="true"
            type="text"
            [errors]="departmentForm.get('departmentName')?.touched ? departmentForm.errors?.['departmentName'] : null"
        ></cm-input>
        <cm-input
            formControlName="description"
            [label]="'common.description' | transloco"
            type="text"
            [errors]="departmentForm.get('description')?.touched ? departmentForm.errors?.['description'] : null"
        ></cm-input>
        <cm-select
            formControlName="departmentParentId"
            [label]="'common.parentName' | transloco"
            [options]="departments"
            [required]="false"
            [errors]="departmentForm.get('departmentParentId')?.touched ? departmentForm.errors?.['departmentParentId'] : null"
            [disabled]="isLoading"
        ></cm-select>
    </div>
    <!-- Footer -->
    <div class="flex justify-end gap-2 border-t-2 py-4">
        <p-button
            [severity]="'secondary'"
            label="{{ 'common.cancel' | transloco }}"
            (onClick)="onClose()"
            [disabled]="isLoading"
            [style]="{ width: '100px' }"
        ></p-button>
        <p-button
            [disabled]="departmentForm.invalid || isLoading"
            type="submit"
            label="{{ 'common.save' | transloco }}"
            [style]="{ width: '100px' }"
        ></p-button>
    </div>
</form>
