<div class="flex-1 h-full w-full bg-slate-100 flex justify-center items-center">
    <div class="flex flex-col sm:max-w-md w-full bg-white rounded-md shadow-md p-6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
            <!-- AVATAR -->
            <div class="flex justify-center">
                <img src="../../../../assets/logo.png" alt="Avatar" class="w-20 h-20 rounded-full object-cover" />
            </div>

            <!-- TITLE -->
            <div class="text-center text-2xl font-semibold">
                {{ 'system.auth.login' | transloco }}
            </div>

            <!-- INPUT: USERNAME -->
            <div>
                <cm-input
                    formControlName="userName"
                    [label]="'system.auth.username' | transloco"
                    [placeholder]="'system.auth.username' | transloco"
                    [required]="true"
                    type="text"
                    [errors]="loginForm.get('userName')?.touched ? loginForm.errors?.['userName'] : null"
                ></cm-input>
            </div>

            <!-- INPUT: PASSWORD -->
            <div>
                <cm-input
                    formControlName="password"
                    [label]="'system.auth.password' | transloco"
                    [placeholder]="'system.auth.password' | transloco"
                    type="secret"
                    [showSecretToggle]="false"
                    [required]="true"
                    [errors]="loginForm.get('password')?.touched ? loginForm.errors?.['password'] : null"
                ></cm-input>
            </div>

            <!-- REMEMBER ME & FORGOT PASSWORD -->
            <div class="flex justify-between items-center text-sm text-gray-600">
                <label class="inline-flex items-center space-x-1">
                    <input type="checkbox" class="form-checkbox accent-primary" />
                    <span>{{ 'system.auth.remember' | transloco }}</span>
                </label>
                <a href="#" class="text-primary hover:underline">{{ 'system.auth.forgot' | transloco }}</a>
            </div>

            <!-- LOGIN BUTTON -->
            <button
                [disabled]="loginForm.invalid || isLoading"
                [ngClass]="{ 'opacity-50 cursor-not-allowed': loginForm.invalid }"
                type="submit"
                class="w-full bg-primary hover:opacity-90 text-white font-semibold py-2 rounded"
            >
                {{ 'system.auth.login' | transloco }}
            </button>

            <!-- REGISTER -->
            <p class="text-sm text-center text-gray-500">
                {{ 'system.auth.noAccount' | transloco }}
                <a href="/register" class="text-primary hover:underline">{{ 'system.auth.register' | transloco }}</a>
            </p>
        </form>
    </div>
</div>
