<div *ngIf="type === 'text'" class="min-w-screen-15">
    <label class="text-surface-500 font-semibold" *ngIf="label">{{ label | transloco }}</label>
    <ng-container *ngIf="required"> <span class="text-red-600"> *</span></ng-container>
    <p-inputgroup class="mt-2 h-11">
        <p-inputgroup-addon *ngIf="preIcon != null">
            <p-inputicon [styleClass]="preIcon" />
        </p-inputgroup-addon>
        <input
            pInputText
            [disabled]="disabled"
            [placeholder]="placeholder ?? '' | transloco"
            [value]="value"
            (input)="onInput($event)"
            (blur)="onTouched()"
        />
        <p-inputgroup-addon *ngIf="postIcon != null">
            <p-inputicon [styleClass]="postIcon" />
        </p-inputgroup-addon>
    </p-inputgroup>
    <small *ngIf="errors" class="ml-2 text-red-500 text-sm mt-1">
        {{ errors | transloco }}
    </small>
</div>
<div *ngIf="type === 'secret'" class="min-w-screen-15">
    <label class="text-surface-500 font-semibold" *ngIf="label">{{ label | transloco }}</label>
    <ng-container *ngIf="required"> <span class="text-red-600"> *</span></ng-container>

    <p-inputgroup class="mt-2 h-11">
        <input
            pInputText
            [disabled]="disabled"
            [type]="showSecretToggle ? 'text' : 'password'"
            [placeholder]="placeholder | transloco"
            [value]="value"
            (input)="onInput($event)"
            (blur)="onTouched()"
        />
        <p-inputgroup-addon>
            <p-button (click)="onShowSecretToggle()" icon="{{ showSecretToggle ? 'pi pi-eye' : 'pi pi-eye-slash' }}" [rounded]="true" [text]="true" />
        </p-inputgroup-addon>
    </p-inputgroup>
    <small *ngIf="errors" class="ml-2 text-red-500 text-sm mt-1">
        {{ errors | transloco }}
    </small>
</div>
<div *ngIf="type == 'number'" class="min-w-screen-15">
    <label class="text-surface-500 font-semibold" *ngIf="label">{{ label | transloco }}</label>
    <ng-container *ngIf="required"> <span class="text-red-600"> *</span></ng-container>
    <p-inputgroup class="mt-2 h-11">
        <p-inputgroup-addon *ngIf="preIcon != null">
            <p-inputicon [styleClass]="preIcon" />
        </p-inputgroup-addon>
        <input
            pInputText
            [disabled]="disabled"
            [placeholder]="placeholder ?? '' | transloco"
            [value]="value"
            (input)="onInput($event)"
            (blur)="onTouched()"
            type="number"
        />
        <p-inputgroup-addon *ngIf="postIcon">
            <p-inputicon [styleClass]="postIcon" />
        </p-inputgroup-addon>
    </p-inputgroup>
    <small *ngIf="errors" class="ml-2 text-red-500 text-sm mt-1">
        {{ errors | transloco }}
    </small>
</div>
<div *ngIf="type == 'datePicker'" class="flex flex-col">
    <label class="text-surface-500 font-semibold" *ngIf="label">{{ label | transloco }}</label>
    <ng-container *ngIf="required"> <span class="text-red-600"> *</span></ng-container>
    <p-datepicker
        class="mt-2 h-11"
        [(ngModel)]="value"
        [disabled]="disabled"
        appendTo="body"
        size="large"
        [showIcon]="true"
        (onSelect)="onSelectDate($event)"
        inputId="buttondisplay"
        [showOnFocus]="false"
    />
    <small *ngIf="errors" class="ml-2 text-red-500 text-sm mt-1">
        {{ errors | transloco }}
    </small>
</div>
<div *ngIf="type == 'dateTimePicker'" class="flex flex-col min-w-screen-15">
    <label class="text-surface-500 font-semibold" *ngIf="label">{{ label | transloco }}</label>
    <ng-container *ngIf="required"> <span class="text-red-600"> *</span></ng-container>
    <p-datepicker
        class="mt-2 h-11"
        [(ngModel)]="value"
        [disabled]="disabled"
        appendTo="body"
        [showIcon]="true"
        size="large"
        inputId="buttondisplay"
        [showOnFocus]="false"
        [showTime]="true"
        (onSelect)="onSelectDate($event)"
        [hourFormat]="'24'"
    />
    <small *ngIf="errors" class="ml-2 text-red-500 text-sm mt-1">
        {{ errors | transloco }}
    </small>
</div>
