<form class="flex flex-col gap-4 flex-1 h-full" (ngSubmit)="onSave()" [formGroup]="teacherForm">
    <!-- header -->
    <div class="border-t border-b">
        <div class="flex justify-between items-center p-4 bg-card">
            <div *ngIf="action == 'create'" class="text-4xl font-semibold">{{ 'common.create' | transloco }}</div>
            <div *ngIf="action == 'edit'" class="text-4xl font-semibold">{{ 'common.edit' | transloco }}</div>
            <div class="flex gap-2">
                <p-button [severity]="'contrast'" [disabled]="isLoading" (onClick)="onBack()" label="{{ 'common.back' | transloco }}" />
                <p-button [disabled]="isLoading" type="submit" label="{{ 'common.save' | transloco }}" />
            </div>
        </div>
    </div>
    <!-- content -->
    <div class="flex flex-col flex-1 mx-4 shadow rounded-md bg-white p-4 gap-4">
        <div class="border-b-2 pb-4">
            <span class="text-2xl font-bold">{{ 'common.information' | transloco }}</span>
        </div>
        <div class="bg-white flex flex-col gap-4">
            <div class="flex flex-col gap-4">
                <span class="text-surface-500 font-semibold">{{ 'common.avatar' | transloco }}</span>
                <div class="flex gap-4 flex-1">
                    <div class="flex flex-col gap-2">
                        <p-fileupload
                            name="demo[]"
                            auto="true"
                            (onSelect)="onUpload($event)"
                            chooseLabel="{{ 'common.chooseFile' | transloco }}"
                            [multiple]="true"
                            accept="image/*"
                            maxFileSize="1000000"
                            showUploadButton="false"
                            mode="basic"
                            fileLimit="1"
                        >
                        </p-fileupload>
                        <p-button
                            *ngIf="teacherForm.get('imageUrl')?.value"
                            (onClick)="onRemoveImage()"
                            [severity]="'danger'"
                            [icon]="'pi pi-trash'"
                            [label]="'common.delete' | transloco"
                        ></p-button>
                    </div>
                    <img
                        *ngIf="teacherForm.get('imageUrl')?.value"
                        [src]="teacherForm.get('imageUrl')?.value"
                        class="object-contain max-h-screen-20 max-w-screen-20 p-2 border-2 rounded-md"
                    />
                </div>
            </div>
            <div class="flex gap-4">
                <cm-input
                    [disabled]="isLoading"
                    formControlName="fullName"
                    [label]="'common.fullName' | transloco"
                    [required]="true"
                    [errors]="teacherForm.get('fullName')?.touched ? teacherForm.errors?.['fullName'] : null"
                ></cm-input>
                <cm-input
                    [disabled]="isLoading"
                    formControlName="userName"
                    [label]="'common.userName' | transloco"
                    [required]="true"
                    [errors]="teacherForm.get('userName')?.touched ? teacherForm.errors?.['userName'] : null"
                ></cm-input>
            </div>
            <div class="flex gap-4">
                <cm-input [disabled]="isLoading" formControlName="email" [label]="'common.email' | transloco"></cm-input>
                <cm-input [disabled]="isLoading" formControlName="phoneNumber" [label]="'common.phone' | transloco"></cm-input>
            </div>
            <div class="flex gap-4">
                <cm-input [required]="true" formControlName="teacherCode" [label]="'aacs.teacherCode' | transloco"></cm-input>
            </div>
            <div class="flex gap-4">
                <cm-select
                    [label]="'system.departments'"
                    formControlName="departmentId"
                    [placeholder]="'common.chooseDepartment' | transloco"
                    [options]="departments"
                ></cm-select>
                <cm-select
                    [label]="'system.positions'"
                    formControlName="positionId"
                    [placeholder]="'common.choosePosition' | transloco"
                    [options]="positions"
                ></cm-select>
            </div>
            <div class="flex gap-4"></div>
            <div class="flex gap-4">
                <cm-input type="datePicker" [disabled]="isLoading" formControlName="birthdate" [label]="'common.birthday' | transloco"></cm-input>
            </div>
        </div>
    </div>
</form>
